
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Liste des Clients</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel= "stylesheet"
        type ="text/css"
        href= "../static/styles.css"
        th:href="@{/styles.css}"
  />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header>
  <div class="logo">
    <h1>LOGO</h1>
  </div>
  <nav>
    <ul>
      <li><i class='bx bx-home' ></i><a href="/acceuil">Home</a></li>
      <li><i class='bx bxl-product-hunt' ></i><a href="/produit">Produit</a></li>
      <li><i class='bx bx-edit-alt' ></i></i><a href="/about">About</a></li>
      <li><i class='bx bxs-contact' ></i><a href="#contact">Contact</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </nav>
  <div >
    <a href="" class="btn1">Login</a>
    <a href="" class="btn2" >s'inscrire</a>
  </div>
</header>
</body>
</html>
