<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel= "stylesheet"
    type ="text/css"
    href= "../static/styles.css"
    th:href="@{/styles.css}"
    />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header>
    <div class="logo">
        <h1>LOGO</h1>
    </div>
    <nav>
        <ul>
            <li><i class='bx bx-home' ></i><a href="/">Home</a></li>
            <li><i class='bx bxl-product-hunt' ></i><a href="/produit">Produit</a></li>
            <li><i class='bx bx-edit-alt' ></i></i><a href="/about">About</a></li>
            <li><i class='bx bxs-contact' ></i><a href="#contact">Contact</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
    <div >
        <a href="" class="btn1">Login</a>
        <a href="" class="btn2" >s'inscrire</a>
    </div>
</header>
<main>
    <aside>
        <form action="" method="get">
            <input type="text" placeholder="search...">
            <select>
                <option value="all">All</option>
                <option value="all">Ordinateur</option>
                <option value="all">Telephone</option>
                <option value="all">Television</option>
            </select>
            <button type="submit" class="btn1">search</button>
        </form>


    </aside>
    <section class="main-content">
        <div class="content-p">
            <h2>Nos Produits</h2>
            <div class="content-best">
                <div class="card-best">
                    <h2>Asus VivaBooK</h2>
                    <img src="../sample.png" alt="">
                    <div class="priceb">
                        <span>TND200</span>
                        <span><a href="" class="btn3">Details </a></span>
                        <span class="btn3"> Add To Card</span>
                    </div>
                </div>
                <div class="card-best">
                    <h2>Acer gamer GTX1050</h2>
                    <img src="../sample.png" alt="">
                    <div class="priceb">
                        <span>TND200</span>
                        <span><a href="" class="btn3">Details </a></span>
                        <span class="btn3"> Add To Card</span>
                    </div>
                </div>
                <div class="card-best">
                    <h2>Casque RedDragon</h2>
                    <img src="../sample.png" alt="">
                    <div class="priceb">
                        <span>TND200</span>
                        <span><a href="" class="btn3">Details </a></span>
                        <span class="btn3" onclick="()=>{console.log('prod')}"> Add To Card</span>
                    </div>

                </div>
                <div class="card-best">
                    <h2>Clavier RGB</h2>
                    <img src="../sample.png" alt="">
                    <div class="priceb">
                        <span>TND200</span>
                        <span><a href="" class="btn3">Details </a></span>
                        <span class="btn3"> Add To Card</span>
                    </div>
                </div> 
                <div class="card-best">
                <h2>PC</h2>
                <img src="../sample.png" alt="">
                <div class="priceb">
                    <span>TND200</span>
                    <span><a href="" class="btn3">Details </a></span>
                    <span class="btn3"> Add To Card</span>
                </div>
               
                </div>
            </div>
        </div> 
    </section>
</main>

</body>
</html>