@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
body{
    font-family:"Rubik+Scribble";
    margin:0px;
    padding:0px

}
. contact-info{
font-size:12px;
}
.nav-links{
font-size:19px;
font-weight:500;
color:#212934!important;

}
.nav-links:hover{
color:yellow!important;
}
.nav-items{
margin-right:100px;
padding:5px;
}
.nav-icon{margin-right:15px;}