@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400&family=Poppins:wght@300&display=swap');
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
   /* font-family: 'Montserrat', sans-serif;*/
   scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(15, 13, 13);
    color: aliceblue;
}
i{
    margin: 5px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    padding: 10px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
ul li{
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
}
ul a {
    text-decoration: none;
    color: white;
    
}
ul li:hover{
    color: yellow!important;
    border-bottom: 2px solid yellow;
}
.btn1{
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
   
}
.btn2{
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    border: 2px solid orange;
    cursor: pointer;
    color: orange;
    margin: 10px;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.section .section1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    color: aliceblue;
    border-right: 1px solid aliceblue;
    padding: 10px;
}
.section1 h1{
    font-size: 2rem;
    margin: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.section1 p{
    text-align: justify;
    font-size: 1rem;
}
.section1 a{
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    background-color: orange;
    cursor: pointer;
    color: black;
    margin: 20px;
}
.section1 a:hover{
    background-color: transparent;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 10px;
    transform: scale(1);
}

.section .section2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}
.section2 img{
    min-width: 200px;
    

}
.caregorie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    padding: 40px;
    height: 500px;
}
.caregorie h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 20px;
}
.content-categorie {
justify-content: start;
gap: 20px;

display: flex;
flex-wrap: wrap;

}
.card-cat{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 5px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 220px;
    height: 220px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.content-categorie .card-cat h2{
    text-align: center;
    font-size: 1.5rem;
   font-weight: 400;
    
}
.content-categorie .card-cat img{
    object-fit: cover;
   width: 100px;
   height: 100px;
}
.best-seller{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    padding: 20px;
    height: 500px;
}
.best-seller h2{
    text-align: center;
    font-size: 1.5rem;
    margin: 10px auto;
    font-weight: 400;
    color: orange;
}
.best-seller .content-best{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.best-seller
 .card-best{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 220px;
    height: 220px;
    border: 2px solid orange;
    background-color:black;
    color: orange ;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 10px 5px 2px orange;
    
}
.card-best img{
    object-fit: cover;
   width: 100px;
   height: 100px;

}
.card-best .btn{
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    border: 2px solid orange;
    cursor: pointer;
    color: orange;
    margin: 10px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .contact .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
    }
.contact input,.contact textarea{
    margin: 10px ;
    border: none;
    outline: none;
    border-radius: 2px;

}
.contact input:focus,.contact textarea:focus{
    background-color: white;
    color: black;
}
.contact input{
    width: 200px;
    height: 30px;
}
textarea{
    width: 419px;
    height: 100px;
}
.contact form button{
    margin: 10px;
    width: 419px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: 1px solid orange;
    color: orange;
    background-color: transparent;
    border-radius: 8px;
}
.contact h2{
    margin-top: 10px;
}