@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400&family=Poppins:wght@300&display=swap');
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
   /* font-family: 'Montserrat', sans-serif;*/
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(15, 13, 13);
    color: aliceblue;
}
i{
    margin: 5px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    padding: 10px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
ul li{
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
}
ul a {
    text-decoration: none;
    color: white;
    
}
ul li:hover{
    color: yellow!important;
    border-bottom: 2px solid yellow;
}
.btn1{
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
   
}
.btn2{
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    border: 2px solid orange;
    cursor: pointer;
    color: orange;
    margin: 10px;
}
.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.section .section1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    color: aliceblue;
    border-right: 1px solid aliceblue;
    padding: 10px;
}
.section1 h1{
    font-size: 2rem;
    margin: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.section1 p{
    text-align: justify;
    font-size: 1rem;
}
.section1 a{
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    background-color: aqua;
    cursor: pointer;
    color: black;
    margin: 20px;
}
.section1 a:hover{
    background-color: transparent;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 10px;
    transform: scale(1);
}
.section .section2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 img{
    min-width: 200px;
    

}